*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-color: rgb(217, 247, 237);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background-color: #fff;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
}
.container .lado_izquierdo{
    position: relative;
    background-color: #003147;
    padding: 40px;
}
.perfil{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
.perfil .imagen{
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 500px;
    overflow: hidden;
}
.perfil h2{
    color: #fff;
    font-size: 1.5em;
    margin-top: 215px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}
.perfil h2 span{
    font-size: 15px;
    text-align: left;
}
.contacto{
    padding-top: 150px;
}
.titulo{
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.contacto ul{
    position: relative;
}
.contacto ul li{
    position: relative;
    list-style: none;
    margin: 10px 0;
}
.contacto ul li .icon{
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: #03a9f4;
}
.contacto ul li span{
    color: #fff;
    font-weight: 300;
}
.container .lado_derecho{
    position: relative;
    background-color: #fff;
    padding: 40px;
}
.perfil1{
    color: #003147;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
p{
    color: #333;
    font-family: Open sans-serif;
}
.perfil2{
    color: #003147;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.sub{
    color: #333;
    font-family: Open sans-serif;

}
.Experiencia{
    color: #003147;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.sub2{
    color: #333;
    font-family: Open sans-serif;
}
.sub3{
    color: #333;
    font-family: Open sans-serif;
}
.Estudios{
    color: #003147;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.sub4{
    color: #333;
    font-family: Open sans-serif;
}